@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}


.view-display {
    width: 100%;
    min-height: 100vh;
}

.login {
    padding: 0;
    margin: 0;
    width: 100%;
}

.r-login {
    width: 60%;
    height: 97vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: blue;
    color: white;
}

.l-login {
    width: 40%;
    height: 97vh;
    padding: 50px;
}

.login-title {
    color: blue;
    font-family: 'Inter'
}

.form-check {
    margin-top: 30px;
    margin-left: 25px;
}

.sidebar {
    width: 15%;
    height: 90vh;
    font-size: 20px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding-top: 0px;
    -webkit-box-shadow: 9px 4px 12px -8px rgba(74, 74, 74, 1);
    -moz-box-shadow: 9px 4px 12px -8px rgba(74, 74, 74, 1);
    box-shadow: 9px 4px 12px -8px rgba(74, 74, 74, 1);
    z-index: 51;
}

.sidebar-icon {
    margin-right: 7px;
}

.nav-link {
    margin-top: 5px;
    text-align: justify;
    color: rgba(255, 255, 255, 0.695) !important;
    border:  3px solid transparent !important;
}

.nav-link:hover {
    color: white !important;
    border:  3px solid rgba(255, 255, 255, 0.695) !important;
}

.navbar {
    width: 100%;
    height: 10vh;
    -webkit-box-shadow: 220px 10px 12px -8px rgba(74, 74, 74, 1);
    -moz-box-shadow: 220px 10px 12px -8px rgba(74, 74, 74, 1);
    box-shadow: 220px 10px 12px -8px rgba(74, 74, 74, 1);
}

.content {
    width: 100%;
    min-height: 90vh;
    padding-left: 15%;
    padding-top: 10vh;
}

.form-label {
    font-size: 20px;
}

.form-ddb {
    margin: 10px 0px;
}

.btn {
    margin: 0px 10px 0px 0px;
    font-size: 16px;
}

.btn-status {
    width: 250px !important;
    margin-top: 10px;
    text-transform: uppercase;
    padding-top: 10;
}

.btn-status:hover {
    cursor: not-allowed;
}

.request {
    margin-top: 20px;
    width: 97%;
    min-height: 100%;
}

.leave-list {
    width: 100%;
    min-height: 100%;
    padding: 40px;
}

.card {
    margin-top: 20px;
}

.search {
    margin-top: 15px;
}


.search-z {
    margin-top: 50px;
}


.search-bar {
    width: 300px !important;
}

.search-bar-z {
    width: 600px !important;
}

.QR-scanner-position {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./QRbg.jpg");
    background-size: cover;
}

.QR-scanner {
    width: 500px;
    height: 500px;
}

.attendance-list {
    width: 100%;
    min-height: 100%;
    padding: 40px;
    padding-left: 100px;
}

.form-feedback {
    color: red;
}


.loadingSpinnerContainer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadingSpinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #000 transparent #555 transparent;
    border-radius: 50%;
    animation: spin 1.2s linear infinite;
}

.error-login-page {
    width: 100%;
    height: 100vh;
    display: flex;  
    justify-content: center;
    align-items: center;
}


.form__input--incomplete {
    border: 1px solid red;
    outline: 1px solid red;
  }